<div class="container">
  <h1>{{titulo}}</h1>
  <!-- Tenemos que indicar que el evento se propague desde el componente hijo hasta el componente padre (se hace con un event binding)
  de forma automática el evento resultadoSuma manda a llamar a otro evento: resultado() que recibirá como parámetro el elemento que queremos que se propague ($event) que referencia al numero resultado
  -->
  <app-formulario (resultado)="mostrarResultado($event)"></app-formulario>
  <app-resultado [resultadoHijo]="resultadoPadre"></app-resultado>
</div>